*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

$naranja: #f3a544;
$azul: #01253d;
$cuadricula-border: 5px;
$raleway: 'Raleway', sans-serif;
$prata: 'Prata', serif;


/* mixin font */
@mixin font ($family, $weight, $size) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
}

/* bucle para margen */
@for $i from 1 through 10{
    .m-#{$i} {margin: 1rem * $i; }
}


/* INDEX  -----------------------------------------*/

#index__contenedor{ /* MOBILE */
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh auto auto 90vh;
    grid-template-areas: 
    "principal"
    "secundaria"
    "destacados"
    "footer";
    @media screen and (min-width: 768px) { /* TABLET */
        grid-template-rows: 100vh auto auto 40vh;
    }
}

#index__principal{ /* MOBILE */
    grid-area: principal;
    background-color: white;
    background-image: url(../images/index-background-mobile.jpg);
    @media (min-width: 768px){ /* TABLET */
        background-image: url(../images/index-background-768.jpg);
    }
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    .navbar__tabletDesktop > ul{
        display: none;
        @media (min-width: 768px){ /* TABLET */
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            list-style: none;
        }
    }
    .navbar__tabletDesktop li{
        padding-top: 1.5vh;
        position: relative;
        list-style: none;
    }
    .navbar__tabletDesktop ul li:hover ul{
        display: block;
    }
    .navbar__tabletDesktop a{
        @include font($raleway, 700, 0.8rem);
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    .navbar__tabletDesktop a:hover{
        color: $azul;
        font-weight: 800;
    }
    .navbar__tabletDesktop li img{
        height: 60px;
        width: auto;
    }
    .navbar__tabletDesktop li img:hover{
        transform: scale(1.2);
    }
    .navbar__tabletDesktop ul ul{ /* REVISAR: APARECE MARGEN DE MAS EN SUB-MENU */
        position: absolute;
        display: none;
    }
    .navbar__tabletDesktop ul ul li{
        display: block; 
        color: $naranja;
        padding: 3px;
    }
    .navbar__tabletDesktop ul ul li a{
        font-weight: 700;
        text-transform: uppercase;
    }
    .navbar__mobile{
        @media (min-width: 768px){ /* TABLET */
            display: none;
        }
    }
    .navbar-toggler-icon{
        width: 1.5rem;
        height: 2rem;
    }
    .navbar-brand{
        width: 5rem;
        height: auto;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .navbar__mobile a{
        @include font($raleway, 600, 0.9rem);
        color: $azul;
        padding-left: 1rem;
    }
    .index__p--etiqueta{
        @include font($raleway, bold, 1em);
        color: white;
        text-transform: uppercase;
        padding-top: 8rem;
        @media (min-width: 768px){ /* TABLET */
            @include font($raleway, 600, 1.3em);
            padding-top: 5rem;
        }
        @media (min-width: 1024px){ /* DESKTOP */
            @include font($raleway, 600, 1em);
            padding-top: 1rem;
        }
    }
    .index__p--etiqueta span{
        color: $naranja;
    }
    .index__logoEnPrincipal{
        width: 60vw;
        margin-left: 20vw;
        @media (min-width: 768px){ /* TABLET */
            width: 30vw;
            margin-left: 35vw;
        }
        @media (min-width: 1024px){ /* DESKTOP */
            width: 25vw;
            margin-left: 37.5vw;
        }
    }
    p{
        @include font($raleway, 600, 1rem);
        color: white;
        text-align: center;
        margin-top: 3rem;
        @media (min-width: 768px){ /* TABLET */
            @include font($raleway, 500, 1.3em);
        }
    }
}

#index__secundaria{ /* MOBILE */
    grid-area: secundaria;
    background-color: whitesmoke;
    h1{
        @include font($prata, 500, 2rem);
        color: $azul;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    span{
        color: $naranja;
    }
    video{
        width: 90vw;
        margin-left: 5vw;
        @media (min-width: 768px){ /* TABLET */
            width: 70vw;
            margin-left: 15vw;
        }
    }
    .index__carrusel{ /* SAQUÉ ESTE CARRUSEL DEL INDEX */
        width: 90vw;
        height: auto;
        margin-left: 5vw;
        @media (min-width: 768px){ /* TABLET */
            width: 60vw;
            height: auto;
            margin-left: 20vw;
        }
    }
    p{
        @include font($raleway, 500, 1rem);
        color: $azul;
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        padding: 0 2rem 0 2rem;
        @media (min-width: 768px){ /* TABLET */
            padding-left: 25vw;
            padding-right: 25vw;
        }
    }
}

#index__loNuevo{ /* MOBILE */
    grid-area: destacados;
    background-image: url(../images/home-descripcion-background.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size:contain;
    overflow: auto;
    h1{
        @include font($prata, 500, 2rem);
        color: $azul;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    span{
        color: $naranja;
    }
    img{
        width: 70vw;
        height: auto;
        margin-left: 15vw;
        border-radius: 5px;
        @media (min-width: 768px){ /* TABLET */
            width: 50vw;
            margin-left: 25vw;
        }
        @media (min-width: 1024px){ /* DESKTOP */
            width: 40vw;
            margin-left: 30vw;
        }
    }
    h4{
        @include font($raleway, 600, 0.6rem);
        color: $azul;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 2px;
    }
    h2{
        @include font($raleway, 600, 1.3rem);
        color: $naranja;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 3rem;
    }
}



/* FOOTER DE TODO EL SITIO ------------------------------------ */
#footer{ /* MOBILE */
    grid-area: footer;
    background-image: radial-gradient( rgb(0, 0, 0), rgb(1, 37, 61));
    h1{ /* MOBILE */
        @include font($raleway, 600, 0.9rem);
        color: $naranja;
        text-transform: uppercase;
        padding-left: 2rem;
        padding-top: 5rem;
        @media (min-width: 768px){ /* TABLET */
            padding-top: 3rem;
            padding-left: 0rem;
            padding-bottom: 0rem;
        }
    }
    p{ /* MOBILE */
        @include font($raleway, 500, 1rem);
        color: grey;
        padding-left: 2rem;
        margin-bottom: 4rem;
        @media (min-width: 768px){ /* TABLET */
            padding-left: 0rem;
            margin-bottom: 0rem;
        }
    }
    img{ /* MOBILE */
        padding-left: 2rem;
        margin-bottom: 0.7rem;
        width: 7rem;
        @media (min-width: 768px){ /* TABLET */
            padding-left: 0rem;
            padding-top: 3rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    img:hover{ /* MOBILE Y TABLET */
        transform: scale(1.2);
    }
    @media (min-width: 768px){ /* TABLET EN FLEX */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}


/* PAGINAS CUADRICULA DEL INTERIOR --------------------------- */
#interior__contenedor{ /* MOBILE */
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 300px auto 90vh;
    grid-template-areas: 
    "header"
    "cuadricula"
    "footer";
    @media (min-width: 768px) { /* TABLET */
        grid-template-rows: 300px auto 40vh;
    }
}

#interior__header{ /* MOBILE */
    grid-area: header;
    width: 100vw;
    height: 200px;
    background-color: white;
    .navbar__mobile {
        @media (min-width: 768px) { /* TABLET */
            display: none;
        }
    }
    .navbar-toggler-icon{
        width: 1.5rem;
        height: 2rem;
    }
    .navbar-brand{
        width: 5rem;
        height: auto;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .navbar__mobile a{
        @include font($raleway, 600, 0.9rem);
        color: $azul;
        padding-left: 1rem;
    }
    .navbar__tabletDesktop ul{
        display: none;
        @media (min-width: 768px){ /* TABLET */
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            list-style: none;
        }
    }
    .navbar__tabletDesktop li{ /* TABLET */
        padding-top: 1.5vh;
        position: relative;
        list-style: none;
    }
    .navbar__tabletDesktop ul ul{ /* TABLET */
        position: absolute;
        display: none;
        align-items: left;
    }
    .navbar__tabletDesktop ul ul li{ /* TABLET */
        display: block;
        border-bottom: white solid 1px;
    }
    .navbar__tabletDesktop ul ul li a{ /* TABLET */
        font-weight: 600;
        text-transform: uppercase;
    }
    .navbar__tabletDesktop ul li:hover ul{ /* TABLET */
        display: block;
    }
    .navbar__tabletDesktop li img{ /* TABLET */
        height: 60px;
        width: auto;
    }
    .navbar__tabletDesktop li img:hover{ /* TABLET */
        transform: scale(1.2);
    }
    .navbar__tabletDesktop a{ /* TABLET */
        text-decoration: none;
        color: $azul;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 700;
    }
    .navbar__tabletDesktop a:hover{ /* TABLET */
        color: $naranja;
    }
    .interior__header--logoHeader{ 
        height: 7vh;
        width: auto;
        margin-left: 2rem;
        margin-top: 120px;
        @media (min-width: 768px){ /* TABLET */
            height: auto;
            width: 40vw;
            margin-left: 30vw;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
}

#interior__cuadricula{ /* MOBILE */
    grid-area: cuadricula;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem; 
    margin-bottom: 3rem;
    div{
        margin-bottom: 40px;
        @media (min-width: 768px){ /* TABLET */
            width: 360px;
            margin-inline: 40px;
            margin-block: 40px;
        }
    }
    img{
        width: 90vw;
        height: auto;
        border-radius: 5px;
        @media (min-width: 768px){ /* TABLET */
            width: 400px;
            height: auto;
        }
    }
    img:hover{
        transform: scale(1.1);
    }
    h5{
        @include font($raleway, 500, 0.6rem);
        color: $azul;
        text-transform: uppercase;
        margin-top: 1rem;
    }
    a{
        @include font($prata, 900, 1.2rem);
        text-decoration: none;
        text-transform: uppercase;
        color: $naranja;
    }
    a:hover{
        color: $azul;
    }
    h4{
        @include font($raleway, 500, 1.1rem);
    }
}



/* PAGINAS INDIVIDUALES ------------------ */
#individual__contenedor{ /* MOBILE */
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 150px auto 90vh;
    grid-template-areas: 
    "header"
    "principal"
    "footer";
    @media (min-width: 768px) { /* TABLET */
        grid-template-rows: 150px auto 40vh;
    }
}

#interior__header{ /* repite ID del interior porque son las mismas NAVS*/
    grid-area: header;
}

#carrusel{ /* MOBILE */
    grid-area: principal;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    div{
        width: 85vw;
        @media (min-width: 768px) { /* TABLET */
            width: 60vw;
        }
        @media (min-width: 1024px) { /* DESKTOP */
            width: 50vw;
        }
    }
    h5{
        @include font($raleway, 600, 0.6rem);
        color: $naranja;
        text-transform: uppercase;
    }
    h1{
        @include font($prata, 800, 2.5rem);
        color: $azul;
        animation-name: colorFont;
        animation-duration: 3s;
    }
    @keyframes colorFont{
        0%{
            color: rgb(1, 37, 61);
        }
        50%{
            color: rgb(243, 165, 68);
        }
        10%{
            color: rgb(1, 37, 61);
        }
    }
    h4{
        @include font($raleway, 500, 1rem);
        line-height: 1.5rem;
        text-transform: capitalize;
        color: $azul;
        margin-top: 20px;

    }
    h3{
        @include font($raleway, 700, 1.3rem);
        text-transform: capitalize;
        color: $naranja;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    h2{
        @include font($prata, 600, 1.8rem);
        text-transform: capitalize;
        margin-top: 1.5rem;
        margin-bottom: 5px;
    }
    .accordion-body {
        display: flex;
        flex-direction: row;
        column-gap: 100px;
        @include font($raleway, medium, 1rem);
        color: $azul;
    }
    .accordion-button {
        @include font($prata, 600, 1rem);
        color: $azul;
    }
    .accordion-button:hover {
        color: $naranja;
    }
    .accordion-button:current {
        color: $naranja;
    }
}
