* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* mixin font */
/* bucle para margen */
.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.m-6 {
  margin: 6rem;
}

.m-7 {
  margin: 7rem;
}

.m-8 {
  margin: 8rem;
}

.m-9 {
  margin: 9rem;
}

.m-10 {
  margin: 10rem;
}

/* INDEX  -----------------------------------------*/
#index__contenedor {
  /* MOBILE */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 100vh auto auto 90vh;
      grid-template-rows: 100vh auto auto 90vh;
      grid-template-areas: "principal" "secundaria" "lonuevo" "footer";
}

@media screen and (min-width: 768px) {
  #index__contenedor {
    /* TABLET */
    -ms-grid-rows: 100vh auto auto 40vh;
        grid-template-rows: 100vh auto auto 40vh;
  }
}

#index__principal {
  /* MOBILE */
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: principal;
  background-color: white;
  background-image: url(../images/index-background-mobile.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@media (min-width: 768px) {
  #index__principal {
    /* TABLET */
    background-image: url(../images/index-background-768.jpg);
  }
}

#index__principal .navbar__tabletDesktop ul {
  display: none;
}

@media (min-width: 768px) {
  #index__principal .navbar__tabletDesktop ul {
    /* TABLET */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
  }
}

#index__principal .navbar__tabletDesktop li {
  padding-top: 1.5vh;
  position: relative;
  list-style: none;
}

#index__principal .navbar__tabletDesktop ul li:hover ul {
  display: block;
}

#index__principal .navbar__tabletDesktop a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

#index__principal .navbar__tabletDesktop a:hover {
  color: #01253d;
  font-weight: 800;
}

#index__principal .navbar__tabletDesktop li img {
  height: 60px;
  width: auto;
}

#index__principal .navbar__tabletDesktop li img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#index__principal .navbar__tabletDesktop ul ul {
  position: absolute;
  display: none;
}

#index__principal .navbar__tabletDesktop ul ul li {
  display: block;
  color: #f3a544;
  padding: 2px;
}

#index__principal .navbar__tabletDesktop ul ul li a {
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  #index__principal .navbar__mobile {
    /* TABLET */
    display: none;
  }
}

#index__principal .navbar-toggler-icon {
  width: 1.5rem;
  height: 2rem;
}

#index__principal .navbar-brand {
  width: 5rem;
  height: auto;
  padding-left: 1rem;
  padding-top: 1rem;
}

#index__principal .navbar__mobile a {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #01253d;
  padding-left: 1rem;
}

#index__principal > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index__principal h1 {
  /* MOBILE */
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  padding-top: 13rem;
}

@media (min-width: 768px) {
  #index__principal h1 {
    /* TABLET */
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    padding-top: 10rem;
  }
}

@media (min-width: 1024px) {
  #index__principal h1 {
    /* DESKTOP */
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1em;
    padding-top: 6rem;
  }
}

#index__principal h1 span {
  color: #f3a544;
}

#index__principal .index__logoEnPrincipal {
  /* MOBILE */
  width: 60vw;
}

@media (min-width: 768px) {
  #index__principal .index__logoEnPrincipal {
    /* TABLET */
    width: 30vw;
  }
}

@media (min-width: 1024px) {
  #index__principal .index__logoEnPrincipal {
    /* DESKTOP */
    width: 25vw;
  }
}

#index__principal h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  #index__principal h2 {
    /* TABLET */
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.3em;
  }
}

#index__secundaria {
  /* MOBILE */
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: secundaria;
  background-color: whitesmoke;
}

#index__secundaria h2 {
  font-family: "Prata", serif;
  font-weight: 500;
  font-size: 2rem;
  color: #01253d;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#index__secundaria span {
  color: #f3a544;
}

#index__secundaria video {
  width: 90vw;
  margin-left: 5vw;
}

@media (min-width: 768px) {
  #index__secundaria video {
    /* TABLET */
    width: 70vw;
    margin-left: 15vw;
  }
}

#index__secundaria p {
  font-family: "Prata", serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #01253d;
  line-height: 1.9rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 2rem 0 2rem;
}

@media (min-width: 768px) {
  #index__secundaria p {
    /* TABLET */
    padding-left: 25vw;
    padding-right: 25vw;
  }
}

#index__loNuevo {
  /* MOBILE */
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: lonuevo;
}

#index__loNuevo h2 {
  font-family: "Prata", serif;
  font-weight: 500;
  font-size: 2rem;
  color: #01253d;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#index__loNuevo span {
  color: #f3a544;
}

#index__loNuevo .index__loNuevo--contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto;
  margin-bottom: 20px;
  margin-left: 5vw;
  width: 100vw;
  height: auto;
}

#index__loNuevo .index__loNuevo--contenedor div {
  width: 45vw;
  height: auto;
  background-color: white;
  border-radius: 5px;
  margin-right: 6vw;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #index__loNuevo .index__loNuevo--contenedor div {
    /* TABLET */
    width: 30vw;
    height: auto;
  }
}

@media (min-width: 1024px) {
  #index__loNuevo .index__loNuevo--contenedor div {
    /* DESKTOP */
    width: 23vw;
    margin-right: 4vw;
  }
}

#index__loNuevo .index__loNuevo--contenedor div img {
  /* MOBILE */
  width: 45vw;
  height: auto;
  border-radius: 5px;
}

@media (min-width: 768px) {
  #index__loNuevo .index__loNuevo--contenedor div img {
    /* TABLET */
    width: 30vw;
  }
}

@media (min-width: 1024px) {
  #index__loNuevo .index__loNuevo--contenedor div img {
    /* DESKTOP */
    width: 23vw;
  }
}

#index__loNuevo .index__loNuevo--contenedor div h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.6rem;
  color: #01253d;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2px;
}

#index__loNuevo .index__loNuevo--contenedor div h3 {
  font-family: "Prata", serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: #01253d;
  text-transform: capitalize;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 3rem;
}

#index__loNuevo .index__loNuevo--contenedor div:hover {
  -webkit-box-shadow: 6px 6px 13px #dad8d8;
          box-shadow: 6px 6px 13px #dad8d8;
}

#index__loNuevo .index__loNuevo--contenedor div:hover h3 {
  color: #f3a544;
}

/* FOOTER DE TODO EL SITIO ------------------------------------ */
#footer {
  /* MOBILE */
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-image: radial-gradient(black, #01253d);
}

#footer h4 {
  /* MOBILE */
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #f3a544;
  text-transform: uppercase;
  padding-left: 2rem;
  padding-top: 5rem;
}

@media (min-width: 768px) {
  #footer h4 {
    /* TABLET */
    padding-top: 3rem;
    padding-left: 0rem;
    padding-bottom: 0rem;
  }
}

#footer p {
  /* MOBILE */
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: grey;
  padding-left: 2rem;
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  #footer p {
    /* TABLET */
    padding-left: 0rem;
    margin-bottom: 0rem;
  }
}

#footer img {
  /* MOBILE */
  padding-left: 2rem;
  margin-bottom: 0.7rem;
  width: 7rem;
}

@media (min-width: 768px) {
  #footer img {
    /* TABLET */
    padding-left: 0rem;
    padding-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

#footer img:hover {
  /* MOBILE Y TABLET */
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (min-width: 768px) {
  #footer {
    /* TABLET EN FLEX */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/* PAGINAS CUADRICULA DEL INTERIOR --------------------------- */
#interior__contenedor {
  /* MOBILE */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 250px auto 90vh;
      grid-template-rows: 250px auto 90vh;
      grid-template-areas: "header" "cuadricula" "footer";
}

@media (min-width: 768px) {
  #interior__contenedor {
    /* TABLET */
    -ms-grid-rows: 320px auto 40vh;
        grid-template-rows: 320px auto 40vh;
  }
}

#interior__header {
  /* MOBILE */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  width: 100vw;
  height: 220px;
  background-color: white;
}

@media (min-width: 768px) {
  #interior__header .navbar__mobile {
    /* TABLET */
    display: none;
  }
}

#interior__header .navbar-toggler-icon {
  width: 1.5rem;
  height: 2rem;
}

#interior__header .navbar-brand {
  width: 5rem;
  height: auto;
  padding-left: 1rem;
  padding-top: 1rem;
}

#interior__header .navbar__mobile a {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #01253d;
  padding-left: 1rem;
}

#interior__header .navbar__tabletDesktop ul {
  display: none;
}

@media (min-width: 768px) {
  #interior__header .navbar__tabletDesktop ul {
    /* TABLET */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
  }
}

#interior__header .navbar__tabletDesktop li {
  /* TABLET */
  padding-top: 1.5vh;
  position: relative;
  list-style: none;
}

#interior__header .navbar__tabletDesktop ul ul {
  /* TABLET */
  position: absolute;
  display: none;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

#interior__header .navbar__tabletDesktop ul ul li {
  /* TABLET */
  display: block;
  color: #f3a544;
  padding: 2px;
}

#interior__header .navbar__tabletDesktop ul ul li a {
  /* TABLET */
  font-weight: 600;
  text-transform: uppercase;
}

#interior__header .navbar__tabletDesktop ul li:hover ul {
  /* TABLET */
  display: block;
}

#interior__header .navbar__tabletDesktop li img {
  /* TABLET */
  height: 60px;
  width: auto;
}

#interior__header .navbar__tabletDesktop li img:hover {
  /* TABLET */
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#interior__header .navbar__tabletDesktop a {
  /* TABLET */
  text-decoration: none;
  color: #01253d;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
}

#interior__header .navbar__tabletDesktop a:hover {
  /* TABLET */
  color: #f3a544;
}

#interior__header .interior__header--logoHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#interior__header .interior__header--logoHeader img {
  height: 7vh;
  width: auto;
  margin-top: 120px;
}

@media (min-width: 768px) {
  #interior__header .interior__header--logoHeader img {
    /* TABLET */
    height: 6rem;
    width: auto;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

#interior__cuadricula {
  /* MOBILE */
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cuadricula;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

#interior__cuadricula div {
  margin-bottom: 40px;
  background-color: white;
  border-radius: 5px;
}

@media (min-width: 768px) {
  #interior__cuadricula div {
    /* TABLET */
    width: 360px;
    margin-inline: 40px;
    margin-block: 40px;
  }
}

#interior__cuadricula img {
  width: 90vw;
  height: auto;
  border-radius: 5px;
}

@media (min-width: 768px) {
  #interior__cuadricula img {
    /* TABLET */
    width: 360px;
    height: auto;
  }
}

#interior__cuadricula div:hover {
  -webkit-box-shadow: 6px 6px 13px #ebe9e9;
          box-shadow: 6px 6px 13px #ebe9e9;
}

#interior__cuadricula h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.6rem;
  color: #01253d;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

#interior__cuadricula a {
  font-family: "Prata", serif;
  font-weight: 900;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #f3a544;
}

#interior__cuadricula a:hover {
  color: #01253d;
}

#interior__cuadricula h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

/* PAGINAS INDIVIDUALES ------------------ */
#individual__contenedor {
  /* MOBILE */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 150px auto 90vh;
      grid-template-rows: 150px auto 90vh;
      grid-template-areas: "header" "principal" "footer";
}

@media (min-width: 768px) {
  #individual__contenedor {
    /* TABLET */
    -ms-grid-rows: 150px auto 40vh;
        grid-template-rows: 150px auto 40vh;
  }
}

#interior__header {
  /* repite ID del interior porque son las mismas NAVS*/
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

#carrusel {
  /* MOBILE */
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: principal;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#carrusel div {
  width: 85vw;
}

@media (min-width: 768px) {
  #carrusel div {
    /* TABLET */
    width: 60vw;
  }
}

@media (min-width: 1024px) {
  #carrusel div {
    /* DESKTOP */
    width: 50vw;
  }
}

#carrusel a {
  text-decoration: none;
}

#carrusel h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.6rem;
  color: #f3a544;
  text-transform: uppercase;
}

#carrusel h1 {
  font-family: "Prata", serif;
  font-weight: 800;
  font-size: 2.5rem;
  color: #01253d;
  -webkit-animation-name: colorFont;
          animation-name: colorFont;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes colorFont {
  0% {
    color: #01253d;
  }
  50% {
    color: #f3a544;
  }
  10% {
    color: #01253d;
  }
}

@keyframes colorFont {
  0% {
    color: #01253d;
  }
  50% {
    color: #f3a544;
  }
  10% {
    color: #01253d;
  }
}

#carrusel h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: capitalize;
  color: #01253d;
  margin-top: 20px;
}

#carrusel h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #f3a544;
  margin-top: 20px;
  margin-bottom: 5px;
}

#carrusel h2 {
  font-family: "Prata", serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-top: 1.5rem;
  margin-bottom: 5px;
}

#carrusel .accordion-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: medium;
  font-size: 1rem;
  color: #01253d;
}

#carrusel .accordion-button {
  font-family: "Prata", serif;
  font-weight: 600;
  font-size: 1rem;
  color: #01253d;
}

#carrusel .accordion-button:hover {
  color: #f3a544;
}

#carrusel .accordion-button:current {
  color: #f3a544;
}

/* PAGINA FORMULARIO DE CONTACTO ------------------- */
.formulario__body {
  background-color: whitesmoke;
}

#formularioContacto fieldset {
  /* MOBILE */
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: #01253d;
  width: 80vw;
  margin-left: 10vw;
  margin-bottom: 5vh;
}

@media (min-width: 768px) {
  #formularioContacto fieldset {
    /* TABLET */
    width: 60vw;
    margin-left: 20vw;
  }
}

#formularioContacto .formulario__div--datosPersonales div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

#formularioContacto .formulario__div--datosPersonales label {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #01253d;
}

#formularioContacto .formulario__div--datosPersonales input {
  border: solid 1px #f3a544;
  font-size: 0.9em;
  width: 50vw;
  margin-left: 10px;
  overflow: auto;
}

#formularioContacto .formulario__div--radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

#formularioContacto .formulario__div--radios h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1em;
}

#formularioContacto .formulario__div--radios input {
  border: solid 1px #f3a544;
  margin-left: 5px;
}

#formularioContacto .formulario__div--select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#formularioContacto .formulario__div--select h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1em;
}

#formularioContacto .formulario__div--select select {
  border: solid 1px #f3a544;
  margin-left: 15px;
}

#formularioContacto .formulario__div--textarea {
  /* MOBILE */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 768px) {
  #formularioContacto .formulario__div--textarea {
    /* TABLET */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#formularioContacto .formulario__div--textarea h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1em;
  margin-top: 2em;
}

#formularioContacto textarea {
  /* MOBILE */
  width: 80vw;
  border: solid 1px #f3a544;
  overflow: auto;
}

@media (min-width: 768px) {
  #formularioContacto textarea {
    /* TABLET */
    width: 60vw;
  }
}

#formularioContacto .formulario__div--checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
}

#formularioContacto .formulario__div--checkbox h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1em;
  margin-right: 8px;
}

#formularioContacto .formulario__div--checkbox input {
  border: solid 1px #f3a544;
}

#formularioContacto .formulario__div--buttons input {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  margin-top: 20px;
  background-color: #f3a544;
  color: white;
  padding: 8px;
  border: #f3a544;
}

/* PAGINA PROMOS ------------------- */
#promos__contenedor {
  /* MOBILE */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 250px auto 90vh;
      grid-template-rows: 250px auto 90vh;
      grid-template-areas: "header" "promos" "footer";
}

@media (min-width: 768px) {
  #promos__contenedor {
    /* TABLET */
    -ms-grid-rows: 320px auto 40vh;
        grid-template-rows: 320px auto 40vh;
  }
}

#interior__header {
  /* repite ID del interior porque son las mismas NAVS */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

#interior__promos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: promos;
  -ms-grid-column-align: center;
      justify-self: center;
}

#interior__promos .promo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../images/promos-1.jpg);
  background-repeat: none;
  background-size: cover;
  background-position: center;
  padding-top: 3rem;
  padding-left: 1.5rem;
  margin-bottom: 40px;
  width: 95vw;
  height: 350px;
}

#interior__promos .promo1 h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #f3a544;
  text-transform: uppercase;
}

#interior__promos .promo1 h1 {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 2rem;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

#interior__promos .promo1 h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: white;
  line-height: 1.5rem;
}

#interior__promos .promo1 div {
  width: 200px;
  height: 30px;
  border: solid 1px #f3a544;
  text-align: center;
  margin-top: 25px;
}

#interior__promos .promo1 a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: white;
  margin-top: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

#interior__promos .promosAgrupadas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95vw;
  overflow: auto;
  margin-bottom: 50px;
}

#interior__promos .promosAgrupadas > div {
  width: 300px;
  height: auto;
  border-radius: 5px;
  background-color: white;
  margin-right: 5vw;
  margin-bottom: 3rem;
  text-align: center;
}

#interior__promos .promosAgrupadas div:hover {
  -webkit-box-shadow: 6px 6px 13px #ebe9e9;
          box-shadow: 6px 6px 13px #ebe9e9;
}

#interior__promos .promosAgrupadas h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #f3a544;
  text-transform: uppercase;
  padding-top: 3rem;
  padding-left: 1.5rem;
}

#interior__promos .promosAgrupadas h1 {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 2rem;
  color: #01253d;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 1.5rem;
}

#interior__promos .promosAgrupadas img {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}

#interior__promos .promosAgrupadas a {
  font-family: "Prata", serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #01253d;
  text-decoration: none;
}

#interior__promos .promosAgrupadas a:hover {
  color: #f3a544;
}
/*# sourceMappingURL=estilos-sass.css.map */