* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* mixin font */
/* bucle para margen */
.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.m-6 {
  margin: 6rem;
}

.m-7 {
  margin: 7rem;
}

.m-8 {
  margin: 8rem;
}

.m-9 {
  margin: 9rem;
}

.m-10 {
  margin: 10rem;
}

/* INDEX  -----------------------------------------*/
#index__contenedor {
  /* MOBILE */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 100vh 100vh 190vh 90vh;
      grid-template-rows: 100vh 100vh 190vh 90vh;
      grid-template-areas: "principal" "secundaria" "destacados" "footer";
}

@media screen and (min-width: 768px) {
  #index__contenedor {
    /* TABLET */
    -ms-grid-rows: 100vh 90vh auto 40vh;
        grid-template-rows: 100vh 90vh auto 40vh;
  }
}

#index__principal {
  /* MOBILE */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: principal;
  background-color: white;
  background-image: url(../images/index-background-mobile.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@media (min-width: 768px) {
  #index__principal {
    /* TABLET */
    background-image: url(../images/index-background-768.jpg);
  }
}

#index__principal .navbar__tabletDesktop ul {
  display: none;
}

@media (min-width: 768px) {
  #index__principal .navbar__tabletDesktop ul {
    /* TABLET */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style: none;
  }
}

#index__principal .navbar__tabletDesktop li {
  padding-top: 1.5vh;
  position: relative;
  list-style: none;
}

#index__principal .navbar__tabletDesktop ul ul {
  position: absolute;
  display: none;
}

#index__principal .navbar__tabletDesktop ul ul li {
  display: block;
  color: #f3a544;
  margin-left: 0px;
  border-bottom: white solid 1px;
}

#index__principal .navbar__tabletDesktop ul ul li a {
  font-weight: 500;
  text-transform: capitalize;
}

#index__principal .navbar__tabletDesktop ul li:hover ul {
  display: block;
}

#index__principal .navbar__tabletDesktop li img {
  height: 60px;
  width: auto;
}

#index__principal .navbar__tabletDesktop li img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#index__principal .navbar__tabletDesktop a {
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
}

#index__principal .navbar__tabletDesktop a:hover {
  color: #01253d;
}

@media (min-width: 768px) {
  #index__principal .navbar__mobile {
    /* TABLET */
    display: none;
  }
}

#index__principal .navbar__mobile a {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #01253d;
  padding-left: 1rem;
}

#index__principal .navbar-toggler-icon {
  width: 1.5rem;
  height: 2rem;
}

#index__principal .navbar-brand {
  width: 5rem;
  height: auto;
  padding-left: 1rem;
  padding-top: 1rem;
}

#index__principal .index__p--etiqueta {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  padding-top: 13rem;
}

@media (min-width: 768px) {
  #index__principal .index__p--etiqueta {
    /* TABLET */
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 5rem;
  }
}

#index__principal .index__p--etiqueta span {
  color: #f3a544;
}

#index__principal .index__logoEnPrincipal {
  width: 60vw;
  margin-left: 20vw;
}

@media (min-width: 768px) {
  #index__principal .index__logoEnPrincipal {
    /* TABLET */
    width: 30vw;
    margin-left: 35vw;
  }
}

#index__principal p {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  #index__principal p {
    /* TABLET */
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1em;
  }
}

#index__secundaria {
  /* MOBILE */
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: secundaria;
}

#index__secundaria h1 {
  font-family: "Prata", serif;
  font-weight: 500;
  font-size: 2rem;
  color: #01253d;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#index__secundaria span {
  color: #f3a544;
}

#index__secundaria .index__carrusel {
  width: 100vw;
  height: auto;
}

#index__secundaria p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #01253d;
  text-align: center;
  margin-top: 3rem;
  padding: 0 2rem 0 2rem;
}

#index__destacados {
  /* MOBILE */
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: destacados;
  background-image: url(../images/home-descripcion-background.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
}

#index__destacados h1 {
  font-family: "Prata", serif;
  font-weight: 500;
  font-size: 2rem;
  color: #01253d;
  text-align: center;
  margin-bottom: 2rem;
}

#index__destacados span {
  color: #f3a544;
}

#index__destacados video {
  width: 100vw;
  height: auto;
}

#index__destacados h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.6rem;
  color: #01253d;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 2px;
}

#index__destacados h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #01253d;
  text-transform: capitalize;
  text-align: center;
  padding-left: 1rem;
  margin-bottom: 2px;
}

#index__destacados h3 {
  font-family: "Prata", serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #f3a544;
  text-transform: capitalize;
  text-align: center;
  padding-left: 1rem;
  margin-bottom: 3rem;
}

/* FOOTER DE TODO EL SITIO ------------------------------------ */
#footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-image: radial-gradient(black, #01253d);
}

#footer h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #f3a544;
  text-transform: uppercase;
  padding: 5rem 0 0 2rem;
}

#footer p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  color: grey;
  padding-left: 2rem;
  margin-bottom: 4rem;
}

#footer img {
  padding-left: 2rem;
  margin-bottom: 1rem;
  width: 7rem;
}

/* PAGINAS CUADRICULA DEL INTERIOR --------------------------- */
#interior__contenedor {
  /* MOBILE */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 55vw auto 90vh;
      grid-template-rows: 55vw auto 90vh;
      grid-template-areas: "header" "cuadricula" "footer";
}

#interior__header {
  /* MOBILE */
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  width: 100vw;
  height: 200px;
  background-color: white;
}

#interior__header .navbar-toggler-icon {
  width: 1.5rem;
  height: 2rem;
}

#interior__header .navbar-brand {
  width: 5rem;
  height: auto;
  padding-left: 1rem;
  padding-top: 1rem;
}

#interior__header .navbar__mobile a {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  color: #01253d;
  padding-left: 1rem;
}

#interior__header .navbar__tabletDesktop {
  display: none;
}

#interior__header .interior__header--logoHeader {
  height: 7vh;
  width: auto;
  margin-left: 2rem;
  margin-top: 120px;
}

#interior__cuadricula {
  /* MOBILE */
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cuadricula;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

#interior__cuadricula div {
  margin-bottom: 40px;
}

#interior__cuadricula img {
  width: 90vw;
  height: auto;
  border-radius: 5px;
}

#interior__cuadricula h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.6rem;
  color: #01253d;
  text-transform: uppercase;
  margin-top: 1rem;
}

#interior__cuadricula a {
  font-family: "Prata", serif;
  font-weight: 900;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #f3a544;
}

#interior__cuadricula h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}
/*# sourceMappingURL=estilos-sass.css.map */