*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

$naranja: #f3a544;
$azul: #01253d;
$cuadricula-border: 5px;
$raleway: 'Raleway', sans-serif;
$prata: 'Prata', serif;


/* mixin font */
@mixin font ($family, $weight, $size) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
}

/* bucle para margen */
@for $i from 1 through 10{
    .m-#{$i} {margin: 1rem * $i; }
}

/* MOBILE FIRST */

/* INDEX -----------------------------------------*/
#index__contenedor{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh 100vh 190vh 90vh;
    grid-template-areas: 
    "principal"
    "secundaria"
    "destacados"
    "footer";
    #index__principal{
        grid-area: principal;
        background-color: white;
        background-image: url(../images/index-background-mobile2.jpg);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        .navbar__mobile a{
            @include font($raleway, 600, 0.9rem);
            color: $azul;
            padding-left: 1rem;
        }
        .navbar-toggler-icon{
            width: 1.5rem;
            height: 2rem;
        }
        .navbar-brand{
            width: 5rem;
            height: auto;
            padding-left: 1rem;
            padding-top: 1rem;
        }
        .navbar__tabletDesktop{
            display: none;
        }
        .index__p--etiqueta{
            @include font($raleway, bold, 1rem);
            color: white;
            text-transform: uppercase;
            padding-top: 13rem;
        }
        .index__p--etiqueta span{
            color: $naranja;
        }
        .index__logoEnPrincipal{
            width: 60vw;
            margin-left: 20vw;
        }
        p{
            @include font($raleway, 600, 1rem);
            color: white;
            text-align: center;
            margin-top: 3rem;
        }
    }
    #index__secundaria{
        grid-area: secundaria;
        h1{
            @include font($prata, 500, 2rem);
            color: $azul;
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
        span{
            color: $naranja;
        }
        .index__carrusel{
            width: 100vw;
            height: auto;
        }
        p{
            @include font($raleway, 500, 1rem);
            color: $azul;
            text-align: center;
            margin-top: 3rem;
            padding: 0 2rem 0 2rem;
        }
    }
    #index__destacados{
        grid-area: destacados;
        background-image: url(../images/home-descripcion-background.jpg);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size:contain;
        overflow: auto;
        h1{
            @include font($prata, 500, 2rem);
            color: $azul;
            text-align: center;
            margin-bottom: 2rem;
        }
        span{
            color: $naranja;
        }
        video{
            width: 100vw;
            height: auto;
        }
        h4{
            @include font($raleway, 500, 0.6rem);
            color: $azul;
            text-transform: uppercase;
            text-align: center;
            margin-top: 0.5rem;
            padding-left: 1rem;
            margin-bottom: 2px;
        }
        h2{
            @include font($raleway, 700, 1.5rem);
            color: $azul;
            text-transform: capitalize;
            text-align: center;
            padding-left: 1rem;
            margin-bottom: 2px;
        }
        h3{
            @include font($prata, 500, 1.2rem);
            color: $naranja;
            text-transform: capitalize;
            text-align: center;
            padding-left: 1rem;
            margin-bottom: 3rem;
        }
    }
}

/* FOOTER DE TODO EL SITIO ------------------------------------ */
#footer{
    grid-area: footer;
    background-image: radial-gradient( rgb(0, 0, 0), rgb(1, 37, 61));
    h1{
        @include font($raleway, 600, 0.9rem);
        color: $naranja;
        text-transform: uppercase;
        padding: 5rem 0 0 2rem;
    }
    p{
        @include font($raleway, 500, 0.9rem);
        color: grey;
        padding-left: 2rem;
        margin-bottom: 4rem;
    }
    img{
        padding-left: 2rem;
        margin-bottom: 1rem;
        width: 7rem;
    }
}

/* PAGINAS CUADRICULA DEL INTERIOR --------------------------- */

#interior__contenedor{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 55vw auto 90vh;
    grid-template-areas: 
    "header"
    "cuadricula"
    "footer";
}
#interior__header{ /* evaluar si el ID del header debería quedar fixed o no */
    grid-area: header;
    width: 100vw;
    height: 200px;
    background-color: white;
    .navbar-toggler-icon{
        width: 1.5rem;
        height: 2rem;
    }
    .navbar-brand{
        width: 5rem;
        height: auto;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .navbar__mobile a{
        @include font($raleway, 600, 0.9rem);
        color: $azul;
        padding-left: 1rem;
    }
    .navbar__tabletDesktop{
        display: none;
    }
    .interior__header--logoHeader{
        height: 7vh;
        width: auto;
        margin-left: 2rem;
        margin-top: 120px;
    }
}
#interior__cuadricula{
    grid-area: cuadricula;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem; /* CONTROLAR ESTE MARGEN */
    div{
        margin-bottom: 40px;
    }
    img{
        width: 90vw;
        height: auto;
        border-radius: 5px;
    }
    h5{
        @include font($raleway, 500, 0.6rem);
        color: $azul;
        text-transform: uppercase;
        margin-top: 1rem;
    }
    a{
        @include font($prata, 900, 1.2rem);
        text-decoration: none;
        text-transform: uppercase;
        color: $naranja;
    }
    h4{
        @include font($raleway, 500, 1.1rem);
    }
   
}
   

   
    
  





