* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Prata', serif;
  font-family: 'Raleway', sans-serif;
}

/* bucle para margen */
.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.m-6 {
  margin: 6rem;
}

.m-7 {
  margin: 7rem;
}

.m-8 {
  margin: 8rem;
}

.m-9 {
  margin: 9rem;
}

.m-10 {
  margin: 10rem;
}

/* GRID MOBILE FIRST */
#index__contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 100vh 100vh 190vh 90vh;
      grid-template-rows: 100vh 100vh 190vh 90vh;
      grid-template-areas: "principal" "secundaria" "destacados" "footer";
}

/* INDEX__SECCION PRINCIPAL ---------------------- */
#index__principal {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: principal;
  background-color: white;
  background-image: url(../images/index-background-mobile2.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

#index__principal .navbar__tabletDesktop {
  display: none;
}

#index__principal .navbar__mobile a {
  font-size: 0.9rem;
  color: color #01253d;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding-left: 1rem;
}

#index__principal .navbar-toggler-icon {
  width: 1.5rem;
  height: 2rem;
}

#index__principal .navbar-brand {
  width: 5rem;
  height: auto;
  padding-left: 1rem;
  padding-top: 1rem;
}

#index__principal .index__p--etiqueta {
  padding-top: 13rem;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

#index__principal .index__p--etiqueta span {
  color: #f3a544;
}

#index__principal .index__logoEnPrincipal {
  width: 60vw;
  margin-left: 20vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#index__principal p {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1rem;
  text-align: center;
  font-weight: 600;
  margin-top: 3rem;
}

/* INDEX__SECCION SECUNDARIA ---------------------- */
#index__secundaria {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: secundaria;
}

#index__secundaria h1 {
  font-family: 'Prata', serif;
  color: color #01253d;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#index__secundaria span {
  color: #f3a544;
}

#index__secundaria .index__carrusel {
  width: 100vw;
  height: auto;
}

#index__secundaria p {
  margin-top: 3rem;
  padding: 0 2rem 0 2rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: color #01253d;
  font-weight: 500;
}

/* INDEX__SECCION DESTACADOS --------------------- */
#index__destacados {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: destacados;
  background-image: url(../images/home-descripcion-background.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;
}

#index__destacados h1 {
  font-family: 'Prata', serif;
  color: color #01253d;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
}

#index__destacados span {
  color: #f3a544;
}

#index__destacados video {
  width: 100vw;
  height: auto;
}

#index__destacados h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 500;
  color: color #01253d;
  margin-top: 0.5rem;
  padding-left: 1rem;
  text-align: center;
  margin-bottom: 2px;
}

#index__destacados h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 700;
  color: color #01253d;
  padding-left: 1rem;
  text-align: center;
  margin-bottom: 2px;
}

#index__destacados h3 {
  font-family: 'Prata', serif;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 500;
  color: #f3a544;
  padding-left: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}

/* FOOTER DE TODO EL SITIO --------------------- */
#footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
  background-image: radial-gradient(black, #01253d);
}

#footer h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #f3a544;
  padding: 5rem 0 0 2rem;
}

#footer p {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: grey;
  padding-left: 2rem;
  margin-bottom: 4rem;
}

#footer img {
  padding-left: 2rem;
  margin-bottom: 1rem;
  width: 7rem;
}
/*# sourceMappingURL=estilos-sass.css.map */