*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


$naranja: #f3a544;
$azul: #01253d;
$cuadricula-border: 5px;
$lato: 'Lato', sans-serif;
$playfair: 'Playfair Display', serif;


/* mixin font */
@mixin font ($family, $weight, $size) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
}

/* bucle para margen */
@for $i from 1 through 10{
    .m-#{$i} {margin: 1rem * $i; }
}


/* INDEX  -----------------------------------------*/

#index__contenedor{ /* MOBILE */
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh auto auto 90vh;
    grid-template-areas: 
    "principal"
    "secundaria"
    "lonuevo"
    "footer";
    @media screen and (min-width: 768px) { /* TABLET */
        grid-template-rows: 100vh auto auto 40vh;
    }
}

#index__principal{ /* MOBILE */
    grid-area: principal;
    background-color: white;
    background-image: url(../images/index-background-mobile.jpg);
    @media (min-width: 768px){ /* TABLET */
        background-image: url(../images/index-background-768.jpg);
    }
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    .navbar__tabletDesktop ul{
        display: none;
        @media (min-width: 768px){ /* TABLET */
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            list-style: none;
        }
    }
    .navbar__tabletDesktop li{
        padding-top: 1.5vh;
        position: relative;
        list-style: none;
    }
    .navbar__tabletDesktop ul li:hover ul{
        display: block;
    }
    .navbar__tabletDesktop a{
        @include font($lato, 700, 0.8rem);
        color: white;
        text-decoration: none;
        text-transform: uppercase;
    }
    .navbar__tabletDesktop a:hover{
        color: $naranja;
        font-weight: 800;
    }
    .navbar__tabletDesktop li img{
        height: 60px;
        width: auto;
    }
    .navbar__tabletDesktop li img:hover{
        transform: scale(1.2);
    }
    .navbar__tabletDesktop ul ul{ 
        position: absolute;
        display: none;
    }
    .navbar__tabletDesktop ul ul li{
        display: block; 
        color: $naranja;
        padding: 2px;
    }
    .navbar__tabletDesktop ul ul li a{
        font-weight: 700;
        text-transform: uppercase;
    }
    .navbar__mobile{
        @media (min-width: 768px){ /* TABLET */
            display: none;
        }
    }
    .navbar-toggler-icon{
        width: 1.5rem;
        height: 2rem;
    }
    .navbar-brand{
        width: 5rem;
        height: auto;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .navbar__mobile a{
        @include font($lato, 600, 0.9rem);
        color: $azul;
        padding-left: 1rem;
    }
    >div {
        display: flex;
        flex-direction: column;
        align-items: center
    }
    h1 {/* MOBILE */
        @include font($playfair, bold, 1em);
        color: white;
        text-transform: uppercase;
        padding-top: 13rem;
        @media (min-width: 768px){ /* TABLET */
            @include font($playfair, 600, 1.3em);
            padding-top: 10rem;
        }
        @media (min-width: 1024px){ /* DESKTOP */
            @include font($playfair, 600, 2rem);
            font-style: normal;
            text-transform: initial;
            padding-top: 8rem;
        }
    }
    h1 span{
        color: $naranja;
        font-style: italic;
    }
    .index__logoEnPrincipal{/* MOBILE */
        width: 60vw;
        @media (min-width: 768px){ /* TABLET */
            width: 30vw;
            margin-top: 1rem;
        }
        @media (min-width: 1024px){ /* DESKTOP */
            width: 25vw;
            margin-top: 1rem;
        }
    }
    h2{
        @include font($lato, 600, 1rem);
        color: white;
        text-align: center;
        margin-top: 3rem;
        @media (min-width: 768px){ /* TABLET */
            @include font($lato, 500, 1.3rem);
            line-height: 1.9rem;
        }
    }
}

#index__secundaria{ /* MOBILE */
    grid-area: secundaria;
    h2{
        @include font($playfair, 600, 1.8rem);
        color: $azul;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
        span{
            color: $naranja;
            font-style: italic;
        }
    }
    video{
        width: 90vw;
        margin-left: 5vw;
        @media (min-width: 768px){ /* TABLET */
            width: 70vw;
            margin-left: 15vw;
        }
    }
    p{
        @include font($lato, 300, 1.4rem);
        color: $azul;
        text-transform: initial;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        span{
            font-family: $playfair;
            font-weight: 600;
            font-style: italic;
        }
    }
}

#index__loNuevo{ /* MOBILE */
    grid-area: lonuevo;
    h2{
        @include font($playfair, 500, 2rem);
        color: $azul;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    span{
        color: $naranja;
    }
    .index__loNuevo--contenedor{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: auto;
        margin-bottom: 20px;
        width: 100vw;
        height: auto;
        div{
            width: 45vw;
            height: auto;
            background-color: white;
            border-radius: 5px;
            margin-left: 6vw;
            margin-bottom: 20px;
            @media (min-width: 768px) {/* TABLET */
                width: 30vw;
                height: auto;}
            @media (min-width: 1024px){ /* DESKTOP */
                width: 23vw;
                margin-right: 4vw;
            }
            img{/* MOBILE */
                width: 45vw;
                height: auto;
                border-radius: 5px;
                @media (min-width: 768px){ /* TABLET */
                    width: 30vw;
                }
                @media (min-width: 1024px){ /* DESKTOP */
                    width: 23vw;
                }
            }
            h5{
                @include font($lato, 600, 0.6rem);
                color: $azul;
                text-transform: uppercase;
                text-align: center;
                margin-top: 0.5rem;
                margin-bottom: 2px;
            }
            h3{
                @include font($playfair, 600, 1.3rem);
                color: $azul;
                text-transform: capitalize;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 3rem;
            }
        }
        div:hover{
            box-shadow: 6px 6px 13px rgb(218, 216, 216);
            h3{
                color: $naranja;
            }
        }
    }
}



/* FOOTER DE TODO EL SITIO ------------------------------------ */
#footer{ /* MOBILE */
    grid-area: footer;
    background-image: radial-gradient( rgb(0, 0, 0), rgb(1, 37, 61));
    h4{ /* MOBILE */
        @include font($lato, 600, 0.9rem);
        color: $naranja;
        text-transform: uppercase;
        padding-left: 2rem;
        padding-top: 5rem;
        @media (min-width: 768px){ /* TABLET */
            padding-top: 3rem;
            padding-left: 0rem;
            padding-bottom: 0rem;
        }
    }
    p{ /* MOBILE */
        @include font($lato, 500, 1rem);
        color: grey;
        padding-left: 2rem;
        margin-bottom: 4rem;
        @media (min-width: 768px){ /* TABLET */
            padding-left: 0rem;
            margin-bottom: 0rem;
        }
    }
    img{ /* MOBILE */
        padding-left: 2rem;
        margin-bottom: 0.7rem;
        width: 7rem;
        @media (min-width: 768px){ /* TABLET */
            padding-left: 0rem;
            padding-top: 3rem;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    img:hover{ /* MOBILE Y TABLET */
        transform: scale(1.2);
    }
    @media (min-width: 768px){ /* TABLET EN FLEX */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}



/* PAGINAS CUADRICULA DEL INTERIOR --------------------------- */
#interior__contenedor{ /* MOBILE */
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 250px auto 90vh;
    grid-template-areas: 
    "header"
    "cuadricula"
    "footer";
    @media (min-width: 768px) { /* TABLET */
        grid-template-rows: 320px auto 40vh;
    }
}

#interior__header{ /* MOBILE */
    grid-area: header;
    width: 100vw;
    height: 220px;
    background-color: white;
    .navbar__mobile {
        @media (min-width: 768px) { /* TABLET */
            display: none;
        }
    }
    .navbar-toggler-icon{
        width: 1.5rem;
        height: 2rem;
    }
    .navbar-brand{
        width: 5rem;
        height: auto;
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .navbar__mobile a{
        @include font($lato, 600, 0.9rem);
        color: $azul;
        padding-left: 1rem;
    }
    .navbar__tabletDesktop ul{
        display: none;
        @media (min-width: 768px){ /* TABLET */
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            list-style: none;
        }
    }
    .navbar__tabletDesktop li{ /* TABLET */
        padding-top: 1.5vh;
        position: relative;
        list-style: none;
    }
    .navbar__tabletDesktop ul ul{ /* TABLET */
        position: absolute;
        display: none;
        align-items: left;
    }
    .navbar__tabletDesktop ul ul li{ /* TABLET */
        display: block;
        color: $naranja;
        padding: 2px;
    }
    .navbar__tabletDesktop ul ul li a{ /* TABLET */
        font-weight: 600;
        text-transform: uppercase;
    }
    .navbar__tabletDesktop ul li:hover ul{ /* TABLET */
        display: block;
    }
    .navbar__tabletDesktop li img{ /* TABLET */
        height: 60px;
        width: auto;
    }
    .navbar__tabletDesktop li img:hover{ /* TABLET */
        transform: scale(1.2);
    }
    .navbar__tabletDesktop a{ /* TABLET */
        text-decoration: none;
        color: $azul;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 700;
    }
    .navbar__tabletDesktop a:hover{ /* TABLET */
        color: $naranja;
    }
    .interior__header--logoHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .interior__header--logoHeader img{ 
        height: 7vh;
        width: auto;
        margin-top: 120px;
        @media (min-width: 768px){ /* TABLET */
            height: 6rem;
            width: auto;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
}

#interior__cuadricula{ /* MOBILE */
    grid-area: cuadricula;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem; 
    margin-bottom: 3rem;
    div{
        margin-bottom: 40px;
        background-color: white;
        border-radius: 5px;
        @media (min-width: 768px){ /* TABLET */
            width: 360px;
            margin-inline: 40px;
            margin-block: 40px;
        }
    }
    div:hover{
        box-shadow: 6px 6px 13px rgb(235, 233, 233);
        h1{
            color: $azul;
        }
    }
    img{
        width: 90vw;
        height: auto;
        border-radius: 5px;
        @media (min-width: 768px){ /* TABLET */
            width: 360px;
            height: auto;
        }
    }
    h3{
        @include font($lato, 300, 0.6rem);
        color: $azul;
        text-transform: uppercase;
        padding-top: 1rem;
        padding-left: 1rem;
    }
    h1{
        @include font($playfair, 500, 1.6rem);
        text-decoration: none;
        font-style: italic;
        text-transform: capitalize;
        color: $naranja;
        padding-left: 1rem;
    }
    h2{
        @include font($lato, 300, 1rem);
        padding-left: 1rem;
    }
    
}



/* PAGINAS INDIVIDUALES ------------------ */
#individual__contenedor{ /* MOBILE */
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 150px auto 90vh;
    grid-template-areas: 
    "header"
    "principal"
    "footer";
    @media (min-width: 768px) { /* TABLET */
        grid-template-rows: 150px auto 40vh;
    }
}

#interior__header{ /* repite ID del interior porque son las mismas NAVS*/
    grid-area: header;
}

#individual__principal{ /* MOBILE */
    grid-area: principal;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    div{
        width: 85vw;
        @media (min-width: 768px) { /* TABLET */
            width: 60vw;
        }
        @media (min-width: 1024px) { /* DESKTOP */
            width: 50vw;
        }
    }
    a{
        text-decoration: none;
    }
    h5{
        @include font($lato, 600, 0.6rem);
        color: $naranja;
        text-transform: uppercase;
    }
    h1{
        @include font($playfair, 700, 2.5rem);
        color: $azul;
        font-style: italic;
        animation-name: colorFont;
        animation-duration: 3s;
    }
    @keyframes colorFont{
        0%{
            color: rgb(1, 37, 61);
        }
        50%{
            color: rgb(243, 165, 68);
        }
        10%{
            color: rgb(1, 37, 61);
        }
    }
    h4{
        @include font($lato, 300, 1rem);
        line-height: 1.5rem;
        color: $azul;
        margin-top: 20px;

    }
    h3{
        @include font($lato, 700, 1rem);
        text-transform: uppercase;
        color: $naranja;
        margin-bottom: 5px;
    }
    h2{
        @include font($playfair, 600, 1.8rem);
        text-transform: capitalize;
        font-style: italic;
        margin-top: 1.5rem;
        margin-bottom: 5px;
    }
    .accordion-body {
        display: flex;
        flex-direction: row;
        column-gap: 100px;
        h1{
            @include font($playfair, 500, 1rem);
            color: $azul;
            font-style: normal;
        }
        h2{
            @include font($lato, 300, 1rem);
            font-style: normal;
            text-transform: none;
        }
    }
    .accordion-button {
        @include font($playfair, 600, 1rem);
        color: $azul;
    }
    .accordion-button:hover {
        color: $naranja;
    }
    .accordion-button:current {
        color: $naranja;
    }
    .rrss{ /* ICONOS DE REDES SOCIALES */
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-inline: 5px;
        }
        img{
            width: 35px;
            height: 35px;
        }
        img:hover{
            transform: scale(1.2);
        }
        h6{
            @include font($lato, 400, 0.65rem);
            color: $naranja;
            text-align: center;
            margin-top: 10px;
        }
    }
}



/* PAGINA FORMULARIO DE CONTACTO ------------------- */
.formulario__body{
    background-color: whitesmoke;
}

#formularioContacto{
    fieldset{ /* MOBILE */
        @include font($lato, 600, 1em);
        color: $azul;
        width: 80vw;
        margin-left: 10vw;
        margin-bottom: 5vh;
        @media (min-width: 768px){ /* TABLET */
            width: 60vw;
            margin-left: 20vw;
        }
    }
    .formulario__div--datosPersonales div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .formulario__div--datosPersonales label{
        @include font($lato, 500, 1em);
        color: $azul;
    }
    .formulario__div--datosPersonales input{
        border: solid 1px $naranja;
        font-size: 0.9em;
        width: 50vw;
        margin-left: 10px;
        overflow: auto;
    }
    .formulario__div--radios{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .formulario__div--radios h2{
        @include font($lato, 500, 1em);
    }
    .formulario__div--radios input {
        border: solid 1px $naranja;
        margin-left: 5px;
    }
    .formulario__div--select {
        display: flex;
        flex-direction: row;
    }
    .formulario__div--select h2{
        @include font($lato, 500, 1em);
    }
    .formulario__div--select select {
        border: solid 1px $naranja;
        margin-left: 15px
    }
    .formulario__div--textarea { /* MOBILE */
        display: flex;
        flex-direction: row;
        @media (min-width: 768px){ /* TABLET */
            flex-direction: column;
        }
    }
    .formulario__div--textarea h2{
        @include font($lato, 500, 1em);
        margin-top: 2em;
    }
    textarea{ /* MOBILE */
        width: 80vw;
        border: solid 1px $naranja;
        overflow: auto;
        @media (min-width: 768px){ /* TABLET */
            width: 60vw;
        }
    }
    .formulario__div--checkbox {
        display: flex;
        flex-direction: row;
        margin-top: 20px
    }
    .formulario__div--checkbox h2 {
        @include font($lato, 500, 1em);
        margin-right: 8px;
    }
    .formulario__div--checkbox input {
        border: solid 1px $naranja;
    }
    .formulario__div--buttons input {
        @include font($lato, 500, 0.9em);
        margin-top: 20px;
        background-color: $naranja;
        color: white;
        padding: 8px;
        border: $naranja;
    }
} 



/* PAGINA PROMOS ------------------- */
#promos__contenedor{ /* MOBILE */
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 250px auto 90vh;
    grid-template-areas: 
    "header"
    "promos"
    "footer";
    @media (min-width: 768px) { /* TABLET */
        grid-template-rows: 320px auto 40vh;
    }
}

#interior__header{ /* repite ID del interior porque son las mismas NAVS */
    grid-area: header;
}

#interior__promos{
    grid-area: promos;
    justify-self: center;
    .promo1 {
        display: flex;
        flex-direction: column;
        background-image: url(../images/promos-1.jpg);
        background-repeat: none;
        background-size: cover;
        background-position: center;
        padding-top: 3rem;
        padding-left: 1.5rem;
        margin-bottom: 40px;
        width: 95vw;
        height: 350px;
        h3{
            @include font($lato, 700, 1rem);
            color: $naranja;
            text-transform: uppercase
        }
        h1 {
            @include font($playfair, 400, 2rem);
            color: white;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        h2{
            @include font($lato, 400, 0.9rem);
            color: white;
            line-height: 1.5rem;
        }
        div{
            width: 200px;
            height: 30px;
            border: solid 1px $naranja;
            text-align: center;
            margin-top: 25px;
        }
        a { 
            @include font($lato, 700, 13px);
            color: white;
            margin-top: 30px;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    .promosAgrupadas{
        display: flex;
        flex-direction: row;
        width: 95vw;
        overflow: auto;
        margin-bottom: 50px;
        >div{
            width: 250px;
            height: auto;
            border-radius: 5px;
            background-color: white;
            margin-right: 5vw;
            margin-bottom: 3rem;
            text-align: center;
        }
        div:hover{
            box-shadow: 6px 6px 13px rgb(235, 233, 233); 
        }
        h3{
            @include font($lato, 700, 1rem);
            color: $naranja;
            text-transform: uppercase;
            padding-top: 3rem;
            padding-left: 1.5rem;
        }
        h1{
            @include font($playfair, 400, 2rem);
            color: $azul;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 1.5rem;
        }
        img{
            width: 250px;
            height: auto;
            margin-bottom: 10px
        }
        a{
            @include font($playfair, 700, 1.2rem);
            color: $azul;
            text-decoration: none;
        }
        a:hover{
            color: $naranja;
        }
    }
}


  
